body {
    box-sizing: border-box;
    padding: 30px;
    font-family: Inter;
    background-color: 
    #F5F7FB;
}

.container {
    width: 550px;
    height: 550px;
    margin: auto;
    position: relative;
}

/* .top-right-splash {
    position: absolute;
    width: 297px;
    height: 235px;
    left: 62.24%;
    right: -62.24%;
    top: 0%;
    bottom: -161.16%;
    background: #FFFAD1;
    transform: rotate(-128.49deg);
} */

.start-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: 
    #293264
}

.start-page>h1 {
    font-family: Karla;
    margin: 10px;
    font-size: 31.25px;
}

.start-page>h2 {
    margin: 0px;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 16px;
}

.btn {
    background: #4D5B9E; 
    color: #F5F7FB;
    border: none;
}

.start-btn {
    width: 193px;
    height: 52px;
    border-radius: 15px; 
    font-size: 16px;
}

.check-btn {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    font-size: 10.24px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.question>h2 {
    font-family: Karla;
    font-weight: 700;
    font-size: 16px;
    color: #293264;
}

.answer-selection {
    display: flex;
    justify-content: start;
    gap: 15px;
}

.answer {
    list-style-type: none;
    min-height: 20px;
    min-width: 20px;
    padding: 5px;
    background:#F5F7FB;
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    font-weight: 500;
    font-size: 10.24px;
    color: #293264;
    padding: 5px 10px;
}

.answer:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: #D6DBF5;
}

.question hr {
    width: 500px;
    color: #DBDEF0;
    border: 0.794239px solid #DBDEF0;
}


.check-btn {
    margin-top: 15px;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #D6DBF5;
}

.btn-wrapper {
    text-align: center;
}

#correct.answer {
    background-color: #94d7a2;
    border: 1px solid #94d7a2
}

#incorrect.answer.selected {
    background-color: #F8BCCB;
    border: 1px solid #F8BCCB
}

#not-selected.answer {
    color: rgba(41, 50, 100, 0.4);
    border: 1px solid rgba(41, 50, 100, 0.4);
}

.score {
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

/* @media only screen and (min-width: 350px) {
    
} */